<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--=============== FAVICON ===============-->
     <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

     <!--=============== REMIXICONS ===============-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <title>Certificate</title>
    <link rel="stylesheet" href="certificate.css">
</head>
<body>


        <!---   --->
        <div class="container">
            <section class="education-section">
                <h1>Certificate</h1>
                <div class="education-card">
                    <div class="card-content">
                        <h2>Udemy</h2>
                        <p>PHP Tutorial Beginner To Advancced</p>
                        <span class="date">2024 - 2025</span>
                    </div>
                    <div class="certification">
                        <img src="/images/PHP.jpg" alt="Certification Image" class="cert-img">
                    </div>
                </div>
                <div class="education-card">
                    <div class="card-content">
                        <h2>Google Coursera</h2>
                        <p>Fundational Of User Experience (UX) Design</p>
                        <span class="date">2024 - 2025</span>
                    </div>
                    <div class="certification">
                        <img src="/images/google UX CER.png" alt="Certification Image" class="cert-img">
                    </div>
                </div>
                <div class="education-card">
                    <div class="card-content">
                        <h2>HubSpot Academy</h2>
                        <p>Digital Marketing</p>
                        <span class="date">2024 - 2025</span>
                    </div>
                    <div class="certification">
                        <img src="/images/digital Marketing.png" alt="Certification Image" class="cert-img">
                    </div>
                </div>
                <div class="education-card">
                    <div class="card-content">
                        <h2>Google Digital Academy (SkillShop)</h2>
                        <p>AI-Powered Performance Ads</p>
                        <span class="date">2024-2025 </span>
                    </div>
                    <div class="certification">
                        <img src="/images/AI power cer.png" alt="Certification Image" class="cert-img">
                    </div>
                </div>
                <div class="education-card">
                    <div class="card-content">
                        <h2>Google Digital Academy (SkillShop)</h2>
                        <p>AI-Powered Shopping Ads</p>
                        <span class="date">2024 - 2025</span>
                    </div>
                    <div class="certification">
                        <img src="/images/Al powered shopping certi.png" alt="Certification Image" class="cert-img">
                    </div>
                </div>
                <div class="education-card">
                    <div class="card-content">
                        <h2>DeepLearning AI</h2>
                        <p>Machine Learning</p>
                        <span class="date">2024 - 2025</span>
                    </div>
                    <div class="certification">
                        <img src="/images/ML Coursera.png" alt="Certification Image" class="cert-img">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
