<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievment</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="practice.css">
</head>
<body class="bg-white text-gray-800">
    <div class="container mx-auto p-8">
        <section class="text-center">
            <h1 class="text-3xl font-bold text-orange-500 mb-8">Education</h1>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 ">
                <!-- Education Card 1 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>

                <!-- Education Card 2 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Master Business Growth With Generative AI</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-57efae36-a826-4994-9e63-6be423ab7e58/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/QNnvnDm6/masters.jpg" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>

                <!-- Add more education cards as needed -->

                 <!-- Education Card 3 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Wordpress Website Developer</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-415c0047-4c92-4951-928e-bb31c7cc5df2/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/HskPwkyZ/wordpress.jpg" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>

                <!-- Education Card 4 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>
                <!-- Education Card 5 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>
                <!-- Education Card 6 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>
                <!-- Education Card 7 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>
                <!-- Education Card 8 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>
                <!-- Education Card 9 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>
                <!-- Education Card 10 -->
                <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl">
                    <div class="p-8">
                        <h2 class="text-xl font-semibold text-black mb-2">Udemy</h2>
                        <p class="text-gray-700 mb-1">Communication Skills For Success - In Business Life</p>
                        <span class="text-sm text-gray-500">October - 2024</span>
                        <a href="https://www.udemy.com/certificate/UC-66466211-6b22-49f8-9945-c5ed98feed52/" target="_blank" class="inline-block mt-4 px-4 py-2 bg-orange-500 text-black font-semibold rounded-md shadow-md hover:bg-orange-600 transition duration-300">View Certificate</a>
                    </div>
                    <div class="relative overflow-hidden">
                        <img src="https://i.postimg.cc/fRvBkPPx/skill.png" alt="Certification Image" class="w-full h-30 object-cover transform transition duration-50 hover:scale-100">
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
